@font-face {
    font-family: Opensans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Opensans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

* {
    font-family: "Opensans-Regular", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ffffff;
}

.header .logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    font-family: "Opensans-Bold", sans-serif;
}

.header .navbar a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
    text-transform: uppercase;
}

.header .navbar a:hover {
    color: #e62b4a;
}

.header .navbar a.active {
    color: #e62b4a;
}

.header .container {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-start flex-end center space-between space-around ; */
    justify-content: space-between;
    /* align-items: flex-start flex-end center */
    align-items: center;
    height: 80px;
}

.header .navbar {
    flex-grow: 1;
    text-align: right;
}

.header .navbar-toggle {
    display: none;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 15px;
}


/* flexbox */

.carousel {
    background-image: url(../img/home_slider.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel main {
    color: #ffffff;
    text-align: center;
    /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; */
}

.carousel main p {
    font-size: 25px;
    margin-bottom: 5px;
}

.carousel main h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: purple;
}

.carousel main h1::before {
    content: "THE ";
}

.carousel main h1::after {
    content: " !!!!!";
    color: #00ff00;
    background-color: #ffff00;
}

.carousel main a {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px 25px;
    background-color: #e62b4a;
    color: white;
    border: 1px solid #e62b4a;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.carousel main i {
    display: block;
    font-size: 40px;
    /* animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s; */
    animation: bounce 1s ease-in-out infinite 0s;
}

.service {
    background-image: linear-gradient(to right bottom, #ffff00, #000000);
    padding: 80px 0;
}

.service header {
    text-align: center;
    color: #ffffff;
}

.service .list {
    display: flex;
    /* flex-wrap: wrap; */
    /* dùng ở đây nó sẽ xuống dòng */
}

.service .list .item {
    width: 20%;
    /* border: 1px solid black; */
    margin: 0 15px;
}

.service .list .item .content {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
    position: relative;
}

.service .list .item .content::after {
    content: "";
    background-color: #e62b4a;
    width: 4px;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    /* transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s; */
    transition: all 0.3s linear 0s;
}

.service .list .item .content:hover::after {
    height: 100%;
}

.portfolio .list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .list .item {
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 30px;
}

.portfolio .list .item img {
    width: 100%;
    display: block;
    filter: grayscale(100%) contrast(50%);
}

.portfolio .list .item .content {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
}

.portfolio .list .item .info {
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.5s;
}

.portfolio .list .item .info .control {
    text-align: right;
}

.portfolio .list .item .content:hover .info {
    display: flex;
}

.portfolio .list .item-1 .info {
    left: -100%;
}

.portfolio .list .item-1:hover .info {
    left: 0;
}

.portfolio .list .item-2 .info {
    transform: translate(0, -100%);
}

.portfolio .list .item-2:hover .info {
    transform: translate(0, 0);
}

.portfolio .list .item-3 .info {
    transform: scale(0, 0);
}

.portfolio .list .item-3:hover .info {
    transform: scale(1, 1);
}

.portfolio .list .item-4 .info {
    transform: scale(0, 0);
}

.portfolio .list .item-4:hover .info {
    transform: scale(1, 1) rotate(-360deg);
}

.portfolio .list .item-5 .info {
    transform: skewX(45deg) translateX(-120%);
    width: 200%;
}

.portfolio .list .item-5:hover .info {
    transform: skewX(45deg) translateX(-30%);
}

.portfolio .list .item-6 .info {
    opacity: 0;
    visibility: hidden;
}

.portfolio .list .item-6:hover .info {
    opacity: 1;
    visibility: visible;
}

.post .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* column-gap: 20px;
  row-gap: 20px; */
    /* grid-template-rows: 300px 400px 800px; */
}

.post .list .item img {
    width: 100%;
    display: block;
}

.post .list .item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.post .list .item-10 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.experience {
    background-image: url(../img/bussiness_img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    background-attachment: fixed;
}

.experience header {
    text-align: center;
    color: #ffffff;
}

.experience video {
    width: 100%;
}

.contact header {
    text-align: center;
    margin-bottom: 30px;
}

.contact main .container {
    display: flex;
}

.contact main iframe {
    margin-right: 30px;
}

.contact main iframe,
.contact main form {
    width: 50%;
}

.contact main form * {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.contact main form button {
    margin-bottom: 0;
    background-color: #000000;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
}

.contact main form input::placeholder {
    font-style: italic;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        transform: translateY(100px);
        opacity: 0.5;
    }
    75% {
        transform: translateY(50px);
        opacity: 0.8;
    }
    100% {
        transform: translateY(100px);
        opacity: 1;
    }
}


/* desktops */

@media screen and (max-width: 1200px) {}


/* tablets */

@media screen and (max-width: 992px) {}


/* mobile device : ngang, tablet nhỏ */

@media screen and (max-width: 768px) {
    .carousel main h1 {
        font-size: 40px;
    }
    .header .navbar-toggle {
        display: inline-block;
    }
    .header .navbar {
        display: none;
    }
    .service .list {
        flex-wrap: wrap;
    }
    .service .list .item {
        width: 50%;
        padding: 0 15px;
        margin: 0;
        margin-bottom: 30px;
    }
    .service .list .item:last-child {
        display: none;
    }
    .portfolio .list .item {
        width: 50%;
    }
    .post .list {
        grid-template-columns: 1fr 1fr;
    }
    .post .list .item-1,
    .post .list .item-10 {
        grid-column: initial;
        grid-row: initial;
    }
}


/* mobile device : dọc */

@media screen and (max-width: 576px) {
    /* viết lại css để đè css ở trên */
    .carousel main h1 {
        font-size: 30px;
    }
    .service .list {
        display: block;
    }
    .service .list .item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .portfolio .list {
        display: block;
    }
    .portfolio .list .item {
        width: 100%;
        padding: 0;
    }
    .post .list {
        display: block;
    }
    .contact main .container {
        display: block;
    }
    .contact main iframe,
    .contact main form {
        width: 100%;
        margin: 0;
    }
}